# http://editorconfig.org/

# root editor configuration
root = true

# UNIX-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[Makefile]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

# go specific configuration
[*.go]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

# json/yaml specific configuration
[{*.json,*.yml,*.yaml}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
